<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>

  <connectionStrings>
    <!--
    <add name="DefaultConnection" connectionString="Data Source=servername;Initial Catalog=Tide_Gauges;Persist Security Info=True;User ID=user;Password=pass" providerName="System.Data.SqlClient" />
    -->
  </connectionStrings>


  <system.web>
    <customErrors mode="Off"/>
    <compilation debug="true" strict="false" explicit="true" targetFramework="4.0" />
    <authentication mode="Windows"/>

  </system.web>
</configuration>
